<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="page-footer">
    <div class="footer-content">
        <div class="footer-section">
            <h3>Contact Us</h3>
            <p>Email: ntemenglishlearning@gmail.com</p>
            <p>Phone: +84 398 200 655</p>
        </div>
        <div class="footer-section">
            <h3>Follow Us</h3>
            <a href="https://www.facebook.com/nhat.tan.669016">Facebook</a> | <a href="https://www.instagram.com/taannhat_3008/">Instagram</a> | <a href="https://open.spotify.com/playlist/37i9dQZF1DX3XYbBdFxzGm">Twitter</a>
        </div>
    </div>
    <p class="footer-note">© 2025 NTEM English Learning. All rights reserved.</p>
</footer>

</body>
</html>